@model IEnumerable<JobModel>;

@{
    ViewBag.Title = "Index";
}

<h1>Jobs list</h1>

<div class="row">
    <div>
        <table class="table table-sm table-striped table-bordered m-2">
            <tbody>
                <tr>
                    @foreach (var r in Model)
                    {
                        <td>@r.Id</td>
                        <td>@r.Title</td>
                        <td>@r.Category</td>
                    }

                </tr>
            </tbody>
        </table>
    </div>
</div>