@model IEnumerable<UserFavouriteJob>;


    <form method="get" asp-controller="favourite" asp-action="SearchJobs" >
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="title" placeholder="There are your favourite jobs. Waht are you looking for?">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="button-addon2" type="submit">Search</button>
            </div>
        </div>
    </form>
    <a asp-controller="Favourite" asp-action="Index">Close Search</a>
<div class="row">
        <div class="job-table">
            <div>
                @foreach (var r in Model)
                {
                <div class="list-row">
                    <div class="image-container"><img class="image" src="https://remotive.io/job/@r.JobId/logo" /></div>

                    <div class="job-details">
                        <a href="@r.Url">

                            <div class="job-title">@r.Title</div>
                            <div class="job-category">@r.Category</div>
                        </a>

                       
                    </div>
                    <div>
                        <a class="trash-btn" asp-controller="Favourite" asp-action="DeleteFavourite" asp-route-id="@r.JobId"><img id="trash" src="~/assets/trash.svg" /></a>
                    </div>
                        <div class="stripe"></div>


                    </div>

                }
            </div>
        </div>
</div>
<script type="text/javascript">

    const DeleteThisFavourite = async (id) => {
        const JobId = id;


        const requestData = {
            JobId,
        }
        const response = await fetch('/Favourite/DeleteFavourite', {
            method: "POST",
            headers: {
                 'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            data: JSON.stringify(requestData)
        });

        const responseJson = await response.json();

        if (responseJson.success) {
            console.log("Favourite job offer added")
        }

        return responseJson;

    };

</script >