@model IEnumerable<UserFavouriteJob>;

<div class="row">
    <div>
        <div class="table table-sm table-striped table-bordered m-2">
            <div>
                @foreach (var r in Model)
                {
                    <div>

                        <p>@r.JobId</p>
                        <p>@r.Title</p>
                        <p>@r.Category</p>
                    
                    </div>
                }
            </div>
        </div>
    </div>
</div>